.tableHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2.8rem;
    font-family: 'Outfit';
}
.tableHeader__options{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}

.tableHeader__text{
    padding: 1rem 0.2rem;
}
.tableHeader__text > h3{
    padding-bottom: 0.5rem;
}
.tableHeader__searchInput{
    color: rgb(196, 194, 194);
    border: 1px solid rgb(196, 194, 194);
    background-color: #fff;
    height: 2rem;
    display: flex;
    align-items: center ;
    padding-right: 0.4rem;
    border-radius: 5px;
}
.tableHeader__searchInput > input{
    border: none;
    outline: none;
    padding-left: 0.2;
}
.tableHeader__searchInput > input::placeholder{
    padding-left: 0.5rem;
    color: rgb(196, 194, 194);
}
.tableHeader__referesh{
    color: rgb(196, 194, 194);    
    border: 1px solid rgb(196, 194, 194);
    background-color: #fff;
    padding: 0.2rem;
    border-radius: 5px;
}
.searchButton{
    height: 2.2rem;
    border-radius: 5px;
    padding: 0 1.5rem;
    background-color: rgb(7, 147, 68);
    border: 1px solid rgb(12, 127, 81);
    color: #fff;
    cursor: pointer;
}

.searchButton:hover{
    background-color: rgb(6, 117, 54);
}


@media (max-width: 450px) {
    .tableHeader{
        padding: 0 1rem;
    }
    .tableHeader__text{
        padding-left: 0;
    }
    .tableHeader__searchInput{
        margin-left: 1.8rem;
    }
    
}